{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{post.title}}{{/text.headline}}
      {{#text.subhead}}By {{post.user.name}}{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    <p>{{post.body}}</p>
  {{/card.content}}
  {{#card.actions}}
    {{#paper-button onClick=(action 'deletePost')}}DELETE{{/paper-button}}
    {{#paper-button iconButton=true onClick=(action toggleInfo)}}{{paper-icon "info"}}{{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
